.title.serif
	Designed by veggie in Shanghai from 2012
.tool
	%a(href="https://mixpanel.com/f/partner")
		%img(src="https://cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics")
