.sorry_tip
	%h1
		= t('errors.browser')
	.help_link
		= link_to "http://www.google.cn/intl/zh-CN/chrome/browser/",:target => "blank" do
			.pic
				= image_tag('icon/chrome.png')
			.name
				chrome 浏览器
