#container.clearfix
	#logo.item.dancer
		17up
	#topic.item
		.desc
			%i.icon-magic
			以联想的方式学英语
		.title.dancer
			imagine english
	#login.item
		.desc
			%i.icon-user
			登录 或 注册
		.providers
			- Authorization::PROVIDERS.each do |x|
				= link_to member_omniauth_authorize_path(x.to_sym) do
					%span{:class => "icon-#{x}",:title => x}
	#app.item
		.desc
			%i.icon-apple
			ios App
		.title.dancer
			17word
	#contact.item
		.desc
			%i.icon-envelope
			Contact
		.content.dancer
			%a{:href => $config[:blog_host]}(target = "blank")
				Blog
		.desc.mail
			= $config[:email]
	#copyright.item
		.desc
			© Copyright
		= render("shared/copyright")
- content_for :footer do
	#init.hide(data-js="Welcome")
