@import "utils"

.icontrol
	opacity: 0
	.progress
		position: absolute
		top: 0
		height: 4px
		background: transparent
		width: 100%
		.current_bar
			@include transition(width,0.8s)
			height: 100%
			width: 0
.icontrol.active
	opacity: 1
.imagine
	display: none
	.step
		position: relative
		width: 700px
		@include box-sizing(border-box)
		font-size: 22px
		line-height: 1.2
	.upload_img
		cursor: pointer
		position: relative
		display: inline-block
		img
			@include round(10px)
			@include shadow(0px,1px,3px,rgba(0,0,0,.3))
			width: 320px
	.wtitle
		font-size: 60px
		width: 320px
		height: 428px
		line-height: 428px
		margin: 0 auto
		@include round(10px)
		@include shadow(0px,1px,3px,rgba(0,0,0,.3))
